$color_1: aquamarine;
$color_2: aliceblue;
$font-family_1: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$font-family_2: Verdana, Geneva, Tahoma, sans-serif;
$font-family_3: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$background-color_1: #60B3CB;
$background-color_2: #CB607D;
$background-color_3: #E5B0BE;
$background-color_4: #607DCB;