@import "variables";

html {
    font-size: 62.5%;
}

body {
    background-color: $color-secundario1;
}

//HEADER

    .backrosa {
        background-color: $color-principal1;
    }

    .logo {
        width: 100px;
        height: 100px;
        transition: 0.5s;

        &:hover {
            width: 125px;
            height: 125px;
            transition: all 1s;
        }
    }

    .barra {
        background-color: $color-principal2;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin: 20px;
        border-radius: 10px;

        &:hover {
            color: $color-principal1;
            background-color: $color-secundario1;
            transition: all 1s;
        }
    }

    .dropbarra {
        background-color: $color-principal2;

        &:hover {
            background-color: $color-principal1;
            color:white;
        }
    }

//MAIN

.imgpopu {
    width: 300px;
    height: 400px;
    margin: 50px;
}

main {
    section {
        div {
            div {
                p {
                    font-size: 15px;
                    font-weight: bold;
                }
            }
        }
    }
}


section {
    background-color: $color-secundario2;
    width: 100%;
    border-color: black;
    border-style: double;
}

.fontgeneral {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

h2 {
    font-size: 2rem;
    font-weight: lighter;
}

.contacto {
    font-size: 2rem;
}

.comentarios {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    form {
        margin:1%;
        padding: 1%;
        border-color: $color-principal2;
        border-style: dotted;
        font-size: 1.5rem;
    }
}

.boton {
    margin: 5px;
}

.inputM {
    margin-left: 5px;
}

.man {
    width: 200px;
    height: 300px;
    margin: 20px;
}

.manh2 {
    margin-left: 10px;
}

.dados {
    width: 150px;
    height: 150px;
    margin: 20px;
}

.mainImg {
    padding: 8px;
}

.barraflex {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.acordionC {
    background-color: $color-principal2;

    &:hover {
        background-color: $color-secundario1;
        color: white;
        transition: all 1s;
    }
}

.acordionP {
    font-size: 1rem;
}

@media (min-width:768px) {
    h1 {
        font-size: 3rem;
    }

    .barra {
        font-size: 12px;
    }
}

@media (min-width:1024px) {
.faqs {
        padding: 3%;
    }
    .acordionP {
        font-size: small;
        &:hover {
                color: $color-secundario2;
            }
    }
}